.schema-container {
    position: relative;
    overflow: auto;
    user-select: none;
    cursor: grab;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: max-content;
    height: max-content; */
    width: 100%;
    height: 100%;
    padding: 20px;
}

.schema-container:active {
    cursor: grabbing;
}

#schema-diagram {
    transform-origin: top left;
    transition: transform 0.2s ease;
    min-height: 100%;
    min-width: 100%;
}

.mermaid {
    font-family: 'Courier New', Courier, monospace;
}

.mermaid .node {
    border-radius: 6px;
}

.mermaid .labelBkg {
    background-color: rgb(230, 230, 230) !important;
    border-radius: 6px;
}

.mermaid .edgeLabel {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 6px;
}

.mermaid .edgeLabel p {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 5px;
}

.raw-schema {
    display: none;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
}
.checkbox~.schema-container {
    display: block;
}

.checkbox:checked~.schema-container {
    display: none;
}