:root {
    --bar-color: rgba(255, 255, 255, 0.176);
    --element-background-color: #1e1e1e;
    --progress: 0%;
}


body {
    font-family: monospace;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
}

#sidebar {
    flex-grow: 1;
    padding: 0 10px;
    user-select: none;
    max-width: 50%;
}

#shell-result {
    white-space: pre-wrap;
    overflow: auto;
}

input {
    width: 240px;
    margin: 5px 0;
    padding: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
    height: 18px;
}

textarea,
#highlighted-sql {
    min-width: 240px;
    width: calc(100% - 12px);
    height: 250px;
    margin: 5px 0;
    padding: 5px;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    border: 1px solid #33333300;
    color: #e0e0e0;
    font-size: medium;
    font-weight: 500;
    text-wrap: wrap;
}

textarea {
    font-weight: 600;
    border: 1px solid #333;
    color: #e0e0e034;
}

button {
    width: 150px;
    margin: 5px 0;
    padding: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
}

button:hover {
    background-color: #333;
}

button:active {
    background-color: #555;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #333;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #333;
}

#sidebar h3 {
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    flex-grow: 3;
    padding: 0px 10px;
    max-width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
}

th,
td {
    max-height: 15px;
    min-height: 15px;
    max-width: 250px;
    overflow: hidden;
    height: 15px;
    text-align: left;
    border: 1px solid #333;
    color: #e0e0e0;
    text-wrap-mode: nowrap;
}

th {
    border: 1px solid #616161;
}

tr.totals>td {
    font-weight: bold;
    border-top: 2px solid #888;
}

tr:hover {
    background-color: #2c2c2c;
}

td {
    user-select: all;
}

td:hover .tooltip {
    visibility: visible;
}

.tooltip {
    visibility: hidden;
    max-width: 800px;
    max-height: 600px;
    background-color: #333;
    color: #e0e0e0;
    text-align: left;
    overflow: hidden;
    text-wrap-mode: wrap;
    border-radius: 6px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    margin: 0px;
}

th {
    background-color: #333;
}

.checkbox {
    display: none;
}

.checkbox:checked~.tab {
    display: none;
}

.checkbox~table {
    display: table;
}

.checkbox:checked~table {
    display: none;
}

label {
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    color: #e0e0e0;
}

.checkbox:checked~label,
label.inactive {
    color: #888;
}

.draggable {
    user-select: none;
}

div#data-container>div {
    width: 1760px;
}

#sidebar #refresh-rate {
    width: 50px;
}

button {
    margin-top: 5px;
    /* Added margin for better spacing */
}

.control-button:disabled {
    display: none;
}

#shell-container {
    position: relative;
}

.error {
    color: #F00;
    background-color: var(--element-background-color-fail);
    padding: 5px;
    max-width: 100%;
}

.progress-bar {
    background-color: var(--progress-color);
    margin-top: 10px;
    position: relative;
}

.progress-bar::after {
    transition: width 0.3s ease;
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 2px;
    width: var(--progress);
    background: rgb(90, 114, 185);
}

#shell {
    /*font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;*/
    tab-size: 2;
}

.checkbox~#editor-container {
    position: relative;
    display: none;
}

.checkbox:checked~#editor-container {
    display: block;
}

.checkbox:checked~.label {
    display: none;
}

.format-sql {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px !important;
    height: 24px;
    padding: 0 !important;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #333 !important;
    border-radius: 4px;
    opacity: 0.7;
}

.format-sql:hover {
    opacity: 1;
}

.hljs {
    background: transparent !important;
}

select {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
    padding: 5px;
    margin: 5px 0;
}

select:hover {
    background-color: #333;
}

select:focus {
    outline: none;
}

select option {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

select option:hover {
    background-color: #333;
}

button.action-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
}

#login-container {
    position: absolute;
    /* top : 0; */
    right :15px;
    z-index: 10;
    background-color: #262626;
    padding: 0 10px;
}